$background-color:                      $section-background-color
$custom-font-family:                    "Helvetica Neue", Arial, sans-serif
$link-color:                            $red
$link-color-visited:                    $red
$link-color-hover:                    $red

