{# INDIVIDUAL VIEW FOR EACH videos #}
{# You can find a full list of variables to use on this page in your CMS. #}
{% extends "templates/partials/base.html" %}
{% block content %}
  <div class="container ind-video">
    <section>
        <div class="video-wrap">
          <div class="video">
            {{ item.url_of_video.html|safe  }}
          </div>
        </div>
        <h1>{{ item.name }}</h1>
        <p>{{ item.url_of_video.description }}</p>
        {{ item.publish_date|date('F d Y') }}
        {{ item.additional_notes|safe }}
        {% for relation in item.shows %}
          {% set rel = getItem(relation) %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(rel) }}">{{ rel.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
        {% for relation in item.cast %}
          {% set rel = getItem(relation) %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(rel) }}">{{ rel.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </section>
      <aside>
        {% set videos = get('videos') %}
        <ul class="other-videos">
          {% for video in videos %}
            <li>
              {# Episodes and podcasts are slightly different #}
                <a href="{{ url(video) }}">
                  <img src="{{ video.image|imageSize(300) }}">
                  <h4>{{ video.name }}</h4>
                </a>
            </li>
          {% endfor %}
        </ul>
      </aside>
    </div>
{% endblock %}
