{# INDIVIDUAL VIEW FOR EACH videos #}
{# You can find a full list of variables to use on this page in your CMS. #}
{% extends "templates/partials/base.html" %}
{% block content %}
  <div class="container ind-video">
    <section>
        <div class="video-wrap">
          <div class="video">
            {{ item.url_of_video.html|safe  }}
          </div>
        </div>
        {% for relation in item.shows %}
          {% set rel = getItem(relation) %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <div class="show">
            <a href="{{ url(rel) }}">{{ rel.name }}</a> {% if loop.last %}&raquo;{% endif %}
            {{ item.publish_date|date('F d Y') }}
          </div>
        {% endfor %}
        <h1>{{ item.name }}</h1>
        <p>{{ item.url_of_video.description }}</p>

        <div class="in-this-video">
          <h4>In this video</h4>
          {% for relation in item.cast %}
            {% set rel = getItem(relation) %}
            {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
            <a href="{{ url(rel) }}">
              <img src="{{ rel.image|imageCrop(30) }}">
              {{ rel.name }}
            </a>
          {% endfor %}
        </div>
        <hr/>

        {% include "templates/partials/disqus.html" %}
      </section>
      <aside>
        {% set videos = get('videos') %}
        <ul class="other-videos">
          {% for video in videos|slice(0,10) %}
            <li>
              {# Episodes and podcasts are slightly different #}
                <a href="{{ url(video) }}">
                  <div class="vid">
                    <div class="image" style="background-image: url({{ video.url_of_video.thumbnail_url|imageSize(300) }});"></div>
                  </div>
                  <h4>{{ video.name }}</h4>
                  <p>{{ video.publish_date|date('F d Y') }}</p>
                </a>
            </li>
          {% endfor %}
        </ul>
      </aside>
    </div>
{% endblock %}
