{# LIST VIEW OF ALL shows #}
{# You can find a full list of variables to use on this page in your CMS. #}

{% extends "templates/partials/base.html" %}

{% block content %}

  <div class="show-list">
    <div class="container">
    {% set shows = get('shows') %}

    {% for show in shows|sort('name') %}

    <h2><a href="{{ url(show) }}">{{ show.name }}</a> <span>({{show.videos|size}} videos)</span></h2>

      <ul class="boxes">
        {% for video in show.videos|slice(0,4) %}
          {% set item = getItem(video) %}
          <li>
            {# Episodes and podcasts are slightly different #}
              <a href="{{ url(item) }}">
                <img src="{{ item.url_of_video.thumbnail_url|imageSize(300) }}">
                <h4>{{ item.name }}</h4>
                <p class="desc">{{ item.url_of_video.description|striptags|truncate(100) }}</p>
              </a>
          </li>
        {% endfor %}
      </ul>

    {% endfor %}
    </div>

  </div>
{% endblock %}
