{# YOUR HOMEPAGE #}

{# First time seeing extend or blocks? Want to know how it works? Tutorial here: http://www.webhook.com #}
{% extends "templates/partials/base.html" %}

{% block content %}
  <div class="home">
    {% set featured_video = getItem(channel.featured_video) %}
    {% set live = get('live') %}

    {% if live.is_it_live == "Yes" %}
      {% include "templates/partials/live.html" %}
    {% else %}
      {% include "templates/partials/featured_video.html" %}
    {% endif %}

    {% set videos = get('videos') %}
    {% set cast = get('cast') %}

    <div class="container">
      <div class="nav-list">
        <h4>Shows</h4>
        <ul>
          {% for show in shows %}
            <li>
              <a href="{{ url(show) }}">
                {{ show.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <h4>Cast</h4>
        <ul>
          {% for cast in cast|slice(0,10) %}
            <li>
              <a href="{{ url(cast) }}">
                {{ cast.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="recent-videos">
        <h2>Recent videos</h2>

        <ul class="boxes">
          {% for item in videos %}
            <li>
              {# Episodes and podcasts are slightly different #}
                <a href="{{ url(item) }}">
                  <img src="{{ item.url_of_video.thumbnail_url|imageSize(300) }}">
                  <h4>{{ item.name }}</h4>
                  <p class="desc">{{ item.url_of_video.description|striptags|truncate(100) }}</p>
                </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
