{# INDIVIDUAL VIEW FOR EACH cast #}
{# You can find a full list of variables to use on this page in your CMS. #}
{% extends "templates/partials/base.html" %}
{% block content %}
  <div class="ind-cast">
    <div class="container">
      <h1>{{ item.name }}</h1>
      <section>
        <p>{{ item.wikipedia_url.description }}</p>

        {% if item.twitter || item.facebook_url %}
          <h3>Follow</h3>
          <ul class="links">
            {% if item.twitter %}
              <li><a href="http://www.twitter.com/{{ item.twitter }}" class="fa fa-twitter"> @{{ item.twitter }}</a></li>
            {% endif %}
            {% if item.facebook %}
              <li><a href="{{ item.facebook_url }}" class="fa fa-facebook"> Facebook</a></li>
            {% endif %}
          </ul>
        {% endif %}
      </section>
      <aside>
        <img src="{{ item.image|imageSize(300) }}"/>
      </aside>
    </div>
    <div class="container">
      <hr/>
      <h2>Videos</h2>
      <ul class="boxes">
        {% for video in item.videos|slice(0,4) %}
          {% set vid = getItem(video) %}
          <li>
            {# Episodes and podcasts are slightly different #}
              <a href="{{ url(vid) }}">
                <div class="image" style="background-image: url({{ vid.url_of_video.thumbnail_url|imageSize(300) }});"></div>
                <h4>{{ vid.name }}</h4>
                <p class="desc">{{ vid.url_of_video.description|striptags|truncate(100) }}</p>
              </a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
